.merchant-search-categories { 
  margin-top: 40px; 
  > div {
    padding: 20px;
  }
  @media (max-width: 760px) {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  > li {
    border: 0;
  }
  .shopping {
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px 60px;
    line-height: 60px;
    padding-left: 70px;

    &.shopping--antiques-art-galleries {
      background-image: inline-image('shopping/antiques-art-galleries.png');
    }
    &.shopping--apparel {
      background-image: inline-image('shopping/apparel.png');
    }
    &.shopping--books-cards-stationery {
      background-image: inline-image('shopping/books-cards-stationery.png');
    }
    &.shopping--churches {
      background-image: inline-image('shopping/churches.png');
    }
    &.shopping--crafts-toys-hobbies {
      background-image: inline-image('shopping/crafts-toys-hobbies.png');
    }
    &.shopping--florists {
      background-image: inline-image('shopping/florists.png');
    }
    &.shopping--food-specialties {
      background-image: inline-image('shopping/food-specialties.png');
    }
    &.shopping--gifts-collectables {
      background-image: inline-image('shopping/gifts-collectables.png');
    }
    &.shopping--home-furnishings {
      background-image: inline-image('shopping/home-furnishings.png');
    }
    &.shopping--jewelry {
      background-image: inline-image('shopping/jewelry.png');
    }
    &.shopping--lodging {
      background-image: inline-image('shopping/lodging.png');
    }
    &.shopping--media {
      background-image: inline-image('shopping/media.png');
    }
    &.shopping--medical-pharmacies {
      background-image: inline-image('shopping/medical-pharmacies.png');
    }
    &.shopping--music {
      background-image: inline-image('shopping/music.png');
    }
    &.shopping--printers {
      background-image: inline-image('shopping/printers.png');
    }
    &.shopping--restaurants {
      background-image: inline-image('shopping/restaurants.png');
    }
    &.shopping--shoes-accessories {
      background-image: inline-image('shopping/shoes-accessories.png');
    }
    &.shopping--spas-salons-fitness {
      background-image: inline-image('shopping/spas-salons-fitness.png');
    }
    &.shopping--specialty-shops {
      background-image: inline-image('shopping/specialty-shops.png');
    }
    &.shopping--sporting-goods {
      background-image: inline-image('shopping/sporting-goods.png');
    }
    &.shopping--wedding {
      background-image: inline-image('shopping/wedding.png');
    }
    &.shopping--theater-attraction {
      background-image: inline-image('shopping/theater-attraction.png');
    }
    &.shopping--business-services {
      background-image: inline-image('shopping/business-services.png');
    }
    &.shopping--financial-services {
      background-image: inline-image('shopping/financial-services.png');
    }
    &.shopping--legal-services {
      background-image: inline-image('shopping/legal-services.png');
    }
    &.shopping--local-government-non-profit-agencies {
      background-image: inline-image('shopping/local-government-non-profit-agencies.png');
    }
  }
}

.merchant {
  margin-top: 40px;
}

.ccm-pagination-wrapper {
  text-align: center;
}
