@preset-name: "Traverse City DDA";
@preset-icon: concrete-icon(#4a642d, #fff, #7daf41);
@preset-fonts-file: "build/fonts/defaults.less";

/* General */
// Colors
@primary-color: #00a99a;   // light blue-green
@secondary-color: #005d73; // darker blue-green